@import "assets/definitions.scss";

.label {
  display: inline-block;
  color: $color-green-800;
  font-weight: 600;
}

.status {
  display: inline-block;
  color: $color-gray-500;
  font-size: $font-size-12;
}
