@import "assets/definitions.scss";

@mixin defaultButton() {
  border: 0;
  border-radius: $border-radius-4;
  padding: $spacing-12;
  transition: 0.2s;
  cursor: pointer;
  @include text-body();
  text-transform: none;
  &:focus {
    outline: 0;
  }
}

@mixin buttonType($baseColor, $textColor) {
  background: $baseColor;
  color: $textColor;
  &:hover {
    background: darken($baseColor, 40%);
  }
  &:active {
    background: darken($baseColor, 50%);
  }
}

.default {
  @include defaultButton();
}

.primary {
  @include buttonType($color-blue-200, $color-blue-50);
}

.edit {
  @include buttonType($color-green-200, $color-green-50);
}

.delete {
  @include buttonType($color-red-200, $color-red-50);
}
