@import "assets/definitions.scss";

.toolbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 33px;
  margin: $spacing-16 $spacing-16 0 $spacing-16;
  padding: $spacing-16;
  border-radius: $border-radius-8;
  background: $color-white;
  @include shadow-box-default();
}

.label {
  margin-bottom: $spacing-8;
  @include text-body();
  font-weight: 600;
  color: $color-purple-900;
}

.items {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: $breakpoint-screen-sm) {
  .toolbox {
    flex-direction: row;
    .label {
      margin: auto;
      margin-right: $spacing-16;
    }
  }
}

@media (min-width: $breakpoint-screen-md) {
  .toolbox {
    max-width: $breakpoint-screen-md;
  }
}

@media (min-width: $breakpoint-screen-lg) {
  .toolbox {
    max-width: $breakpoint-screen-lg;
  }
}

@media (min-width: $breakpoint-screen-xl) {
  .toolbox {
    max-width: 100%;
  }
}
