@import "assets/definitions.scss";

.container {
  position: relative;
  input {
    width: 100%;
    position: relative;
    padding: $spacing-8 $spacing-12;
    background: $color-white;
    color: $color-black;
    box-sizing: border-box;
    @include text-body();
    outline: none;
    border-radius: $border-radius-4;
    border-width: 1px;
    &:disabled {
      cursor: no-drop;
      color: $color-gray-400;
      border-color: $color-gray-400;
    }
  }

  &.labelled input {
    padding-top: $spacing-28;
  }

  &.invalid {
    input {
      color: $color-red-700;
      border: 1px solid $color-red-700;
      padding-bottom: $spacing-28;
    }
    .message {
      background: $color-red-700;
      border-radius: 0 0 $border-radius-4 $border-radius-4;
      color: white;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacing-8 $spacing-12;
    @include text-tiny();
    text-align: left !important;
    color: $color-blue-700;
  }

  .message {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $spacing-4 $spacing-12;
    @include text-tiny();
    text-align: left !important;
  }
}
