@import "assets/definitions.scss";

.button {
  width: 100%;
  padding: $spacing-12 $spacing-16;
  border: 1px solid $color-gray-200;
  background: $color-white;
  text-align: left;
  z-index: 110;
  &:hover,
  &:focus {
    @include shadow-default();
    border: 1px solid $color-gray-300;
  }
}

@media (min-width: $breakpoint-screen-sm) {
  .button {
    min-width: 280px;
    max-width: 280px;
  }
}
