@import "assets/definitions.scss";

.metadata {
  display: flex;
  flex-direction: row;
}

.information {
  flex: 1;
  margin: 0;
  h1 {
    @include text-title-6();
  }
  .generated-from {
    @include text-small();
    color: $color-gray-500;
  }
}

.controllers > * {
  margin-left: $spacing-8;
}

@media (min-width: $breakpoint-screen-2xl) {
  .container {
    margin: 0 $spacing-16;
  }
}

@media (min-width: $breakpoint-screen-xl) {
  .information {
    flex-direction: row;
    .metadata {
      margin-right: $spacing-24;
    }
  }
}
