@import "assets/definitions.scss";

.container {
  position: relative;
  flex: 1;
  height: 100%;
  svg {
    position: absolute;
  }
}

.small,
.medium,
.large {
  font-family: $font-body;
  font-weight: 900;
}

.small {
  fill: $color-gray-400;
}

.medium {
  fill: $color-blue-600;
}

.large {
  fill: $color-black;
}
