@import "assets/definitions.scss";

@mixin defaultButton() {
  border: 0;
  border-radius: $border-radius-8;
  padding: $spacing-12;
  transition: 0.2s;
  cursor: pointer;
  @include text-body();
  text-transform: none;
  &:focus {
    outline: 0;
  }
}

@mixin buttonType($baseColor, $darkerColor, $textColor) {
  background: $baseColor;
  color: $textColor;
  &:hover {
    background: $darkerColor;
  }
  &:active {
    background: $darkerColor;
  }
}

.default {
  @include defaultButton();
}

.primary {
  @include buttonType($color-blue-200, $color-blue-600, $color-blue-50);
}

.primaryDark {
  @include buttonType($color-blue-600, $color-blue-700, $color-blue-50);
}

.edit {
  @include buttonType($color-green-200, $color-green-600, $color-green-50);
}

.editDark {
  @include buttonType($color-green-600, $color-green-700, $color-blue-50);
}

.delete {
  @include buttonType($color-red-200, $color-red-600, $color-red-50);
}

.deleteDark {
  @include buttonType($color-red-600, $color-red-700, $color-red-50);
}
