@import "assets/definitions.scss";

.footer {
  width: 100%;
  @include text-small();
  color: $color-white;
  background: $color-blue-800;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: baseline;
  padding: $spacing-32 $spacing-24;
}

.copyright {
  margin: auto 0;
}

.links {
  font-size: $font-size-24;
  .link {
    color: inherit;
  }
}
