@import "assets/definitions.scss";

.container {
  display: grid;
  grid-template-columns: 50px auto 160px;
  grid-template-rows: auto;
  grid-template-areas:
    "toggle navigation actions"
    "metadata metadata metadata";
  grid-gap: $spacing-24;
  padding: $spacing-16 $spacing-24;
  background: $color-white;
}

.toggle {
  grid-area: toggle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: $color-gray-100;
  }
}

.navigation {
  grid-area: navigation;
  position: relative;
}

.metadata {
  grid-area: metadata;
}

.actions {
  grid-area: actions;
  justify-self: end;
}

@media (min-width: $breakpoint-screen-lg) {
  .container {
    grid-template-columns: 320px auto 160px;
    grid-template-areas: "navigation metadata actions";
    grid-gap: $spacing-24;
  }
  .toggle {
    display: none;
  }
}
