@import "assets/definitions.scss";

.container {
  position: relative;
  flex: 1;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

  svg {
    position: absolute;
  }
}

.axis {
  font-family: $font-body;
  font-size: $font-size-12;
}

.labelLarge,
.labelSmall {
  font-family: $font-body;
  font-size: 12px;
}

.labelLarge {
  fill: $color-white;
  text-anchor: end;
}

.labelSmall {
  fill: $color-black;
  text-anchor: start;
}
