@import "assets/definitions.scss";

.container {
  position: relative;
  width: 100%;
  margin-top: 4px;
  padding-top: 10px;
}

.hide {
  display: none;
}

$rotate: 225deg;
.triangle {
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  width: 20px;
  height: 20px;
  transform: rotate($rotate);
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  border-right: 1px solid $color-gray-300;
  border-bottom: 1px solid $color-gray-300;
  background: $color-white;
}

.content {
  z-index: 10;
  padding: $spacing-16 $spacing-8;
  border: 1px solid $color-gray-200;
  border-radius: $border-radius-4;
  background: $color-white;
  @include shadow-default();
}

@media (min-width: $breakpoint-screen-sm) {
  .container {
    width: 400px;
  }
}
