@import "assets/definitions.scss";

body {
  margin: 0;
  @include text-body();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: $color-gray-100;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray-400;
  }
}

$sidebar-bg-color: $color-blue-200 !default;
$sidebar-color: $color-blue-700 !default;
$sidebar-width: 200px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: $color-blue-900 !default;
$submenu-bg-color: $color-blue-300 !default;
$submenu-bg-color-collapsed: $color-gray-100 !default;
@import "~react-pro-sidebar/dist/scss/styles.scss";

.pro-sidebar {
  height: inherit;
}
