@import "assets/definitions.scss";

.container {
  display: flex;
  height: 100%;
}

.body {
  flex: 1;
  max-height: calc(100vh - 67px);
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: $color-gray-100;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray-400;
  }
}

.content {
  margin: $spacing-8;
}

.layout {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column-reverse;
  & > div:first-child {
    & > button {
      width: 100%;
      min-width: none;
      max-width: none;
    }
  }
}

.main {
  display: block;
  width: 100%;
}

@media (min-width: $breakpoint-screen-sm) {
  .sidebar {
    flex-direction: row;
    & > div:first-child {
      margin-top: 0;
      & > button {
        width: auto;
        min-width: 280px;
        max-width: 280px;
      }
    }
    & > div:not(:first-child) {
      flex: 1;
      margin-top: 0;
      margin-left: $spacing-16;
    }
  }
}

@media (min-width: $breakpoint-screen-2xl) {
  .layout {
    flex-direction: row;
  }
  .sidebar {
    width: 400px;
    flex-direction: column;
    & > div:first-child {
      order: 2;
      & > button {
        width: 100%;
        min-width: none;
        max-width: none;
      }
    }
    & > div:not(:first-child) {
      flex: 0;
      order: 1;
      margin-left: 0;
    }
  }
}
