@import "assets/definitions.scss";

.container {
  position: absolute;
  right: 0;
  margin-top: 3px;
  padding-top: 4px;
  z-index: 100;
}

.hide {
  display: none;
}

$rotate: 225deg;
.triangle {
  position: absolute;
  top: -4px;
  left: 50%;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate($rotate) translateY(-50%);
  -moz-transform: rotate($rotate) translateY(-50%);
  -o-transform: rotate($rotate) translateY(-50%);
  -ms-transform: rotate($rotate) translateY(-50%);
  transform: rotate($rotate) translateY(-50%);
  border-right: 1px solid $color-gray-200;
  border-bottom: 1px solid $color-gray-200;
  background: $color-white;
}

.content {
  padding: $spacing-8 0;
  border: 1px solid $color-gray-200;
  border-radius: $border-radius-4;
  background: $color-white;
  @include shadow-box(0.16);
  @include text-body();
}

.inner {
  max-height: 150px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $color-gray-100;
    border-radius: $border-radius-8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-blue-500;
    border: 1px solid $color-gray-100;
    border-radius: $border-radius-8;
  }
}

.option {
  display: block;
  padding: $spacing-4 0;
  background: $color-white;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  @include text-tiny();
  border: 0;
  transition: 0.2s;
  cursor: pointer;
  &.selected {
    background: $color-gray-100;
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    background: $color-gray-100;
  }
}

@media (min-width: $breakpoint-screen-sm) {
  .container {
    width: 100%;
  }
  .inner {
    max-height: 600px;
  }
}
